body
{
	background-color: #e6e6e6;
	color: black;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

p.titre
{
	font: xx-large "Lucida Grande", Lucida, Verdana, sans-serif;
	text-align: center;
}

p
{
	text-align: left;
}

p.centre
{
	text-align: center;
}

h1
{
	text-align: left;
	font: normal x-large "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h3
{
	text-align: left;
}

a
{
	text-decoration : none;
	color :#333333;
}

table 
{
	border-width: 2px;
	border-style: solid;
	font-size: large;
	text-align: center;
	width: 1028px;
	color: #333333;
	background-color: #a7a7a7;
	margin-right: auto;
	margin-left: auto;
}

table.clair 
{
	border-width: 2px;
	border-style: solid;
	font-size: large;
	text-align: center;
	width: 1028px;
	color: #333333;
	background-color: #e6e6e6;
}

table.petit
{
	border-width: 2px;
	border-style: solid;
	font-size: large;
	text-align: center;
	width: 500px;
	color: #333333;
	background-color: #a7a7a7;
}

table.petitclair
{
	border-width: 2px;
	border-style: solid;
	font-size: large;
	text-align: center;
	width: 500px;
	color: #333333;
	background-color: #e6e6e6;
}


table.unecase
{
	border-width: 2px;
	border-style: solid;
	font-size: large;
	text-align: center;
	width: 200px;
	color: #333333;
	background-color: #a7a7a7;
}


td.actif
{
	background-color: silver;
}

td.selection
{
	background-color: yellow;
}


td.actif:hover
{
	background-color: gray;
}

td.prop
{
	background-color: orange;
}

td.prop:hover
{
	background-color: gray;
}